<div class="jumbotron">
  <div class="container">
    <h1 class="center">Welcome to Akihabara!</h1>
    <p>Akihabara (秋葉原), also called Akiba name after a former local shrine, is a district in central Tokyo that is famous for its many electronics shops. In more recent years, Akihabara has gained recognition as the center of Japan's otaku (diehard fan) culture, and many shops and establishments devoted to anime and manga are now dispersed among the electronic stores in the district.</p>
  </div>
</div>
<% @stores.each do |store| %>
  <div>
    <h1><%= store.name %></h1><br />
    <p><%= store.description %></p><br />
  </div>

  <hr />
<% end %>
